@model IEnumerable<DataAccessLayer.ProductandTypeViewModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/layoutNoNav.cshtml";
}



<h2>Results</h2>


<table class="table">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Manufacture ID
        </th>
        <th>
            Type ID
        </th>
        <th>
            Category ID
        </th>
        <th>
            Subcategory ID
        </th>
        <th>
            TechSpecFilterID
        </th>
        <th>
            Name
        </th>
        <th>
            Model
        </th>
        <th>
            Airflow
        </th>
        <th>
            Max Power
        </th>
        <th>
            Sound Volume
        </th>
        <th>
            Fan Diameter
        </th>
        <th>
            Subcategory
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ManufactureID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.CatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.SubCatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.TechSpecFilterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Airflow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.MaxPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.SoundVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.FanDiameter)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.subcat.SubCatName)
            </td>
        </tr>
    }

</table>
